*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(3, 3, 68);
    color: whitesmoke;
    font-family:cursive;
    list-style: none;
}

.Container{
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}


.nav {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
}

.nav a{
    text-decoration: none;
    cursor: pointer;
    gap: 20px 30px;
}

.nav a:hover{
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 5px;
    transition:  ease;
}

.todoContainer{
    border-radius: 10px;
    max-width: 400px;
    max-height: 400px;
    padding: 10px;
    margin: 5px;
    box-shadow: 1px 1px 1px 1px rgb(3, 3, 68);
}
.todoContainer h3{
    margin-bottom: 5px;
}
#todosList{
    border: 1px solid whitesmoke;
    max-width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
#btn{
    border-radius: 10px;
    padding: 5px;
    border-color: whitesmoke;
    cursor: pointer;
}

#textInput{
    border-radius: 10px;
    padding: 5px;
    border-color: whitesmoke;
}